---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Layanan">
  <div class="container">
    <section class="hero">
      <h1>Layanan</h1>
      <p>
        BPR Mangun Pundiyasa menyediakan layanan  deposito dan pinjaman untuk mendukung segala kebutuhan usaha, pendidikan, atau hiburan Anda, dijamin oleh LPS.
      </p>
    </section>

    <section>
	  <h2 class="section-title">💰 Deposito</h2>

      <div class="grid">
        <div class="card">
          <h3>Tenor 1 Bulan</h3>
          <p>3.00% p.a.</p>
        </div>

        <div class="card">
          <h3>Tenor 3 Bulan</h3>
          <p>4.00% p.a.</p>
        </div>

        <div class="card">
          <h3>Tenor 6 Bulan</h3>
          <p>5.50% p.a.</p>
        </div>

        <div class="card">
          <h3>Tenor 12 Bulan</h3>
          <p>6.00% p.a.</p>
        </div>

        <div class="card">
          <h3>Tenor 24 Bulan</h3>
          <p>6.75% p.a.</p>
        </div>
      </div>
    </section>

    <section>
      <h2>🏦 Pinjaman</h2>
	  <h3>Suku bunga 26,4% per tahun*</h3>
	  <p>* Sesuai syarat dan ketentuan yang berlaku. Nilai dapat berubah sewaktu-waktu</p>

      <div class="grid">
        <div class="card">
          <h3>Tenor 6 Bulan</h3>
          <p><strong>Plafond Rp. 2 jt</strong>: Rp. 377.333</p>
          <p><strong>Plafond Rp. 5 jt</strong>: Rp. 943.333</p>
          <p><strong>Plafond Rp. 8 jt</strong>: Rp. 1.509.333</p>
          <p><strong>Plafond Rp. 10 jt</strong>: Rp. 1.866.667</p>
        </div>

        <div class="card">
          <h3>Tenor 12 Bulan</h3>
          <p><strong>Plafond Rp. 2 jt</strong>: Rp. 210.666</p>
          <p><strong>Plafond Rp. 5 jt</strong>: Rp. 526.666</p>
          <p><strong>Plafond Rp. 8 jt</strong>: Rp. 842.666</p>
          <p><strong>Plafond Rp. 10 jt</strong>: Rp. 1.053.333</p>
        </div>

        <div class="card">
          <h3>Tenor 18 Bulan</h3>
          <p><strong>Plafond Rp. 5 jt</strong>: Rp. 387.777</p>
          <p><strong>Plafond Rp. 8 jt</strong>: Rp. 620.444</p>
          <p><strong>Plafond Rp. 10 jt</strong>: Rp. 775.555</p>
        </div>

        <div class="card">
          <h3>Tenor 24 Bulan</h3>
          <p><strong>Plafond Rp. 5 jt</strong>: Rp. 318.333</p>
          <p><strong>Plafond Rp. 8 jt</strong>: Rp. 508.666</p>
          <p><strong>Plafond Rp. 10 jt</strong>: Rp. 636.667</p>
        </div>

        <div class="card">
          <h3>Tenor 36 Bulan</h3>
          <p><strong>Plafond Rp. 5 jt</strong>: Rp. 248.888</p>
          <p><strong>Plafond Rp. 8 jt</strong>: Rp. 398.222</p>
          <p><strong>Plafond Rp. 10 jt</strong>: Rp. 497.778</p>
        </div>
      </div>
    </section>

    <section>
      <h2>📇 Persyaratan Kredit</h2>

      <div class="grid">
        <div class="card">
          <h3>👥 Syarat Umum</h3>
          <p>• KTP suami istri</p>
          <p>• Kartu Keluarga</p>
          <p>• Slip Gaji</p>
        </div>
		
        <div class="card">
          <h3>🛵 Jaminan BPKB</h3>
          <p>• STNK</p>
          <p>• BPKB</p>
          <p>• Faktur</p>
        </div>
		
        <div class="card">
          <h3>🏠 Jaminan SHM</h3>
          <p>• Sertifikat</p>
          <p>• IMB</p>
          <p>• STTS PBB</p>
        </div>

      </div>
    </section>

    <section>
      <h2>🔒 Dijamin dan Diawasi</h2>

      <div class="grid">
        <div class="card">
          <h3>✓ Dijamin LPS</h3>
          <p>Maksimum nilai simpanan yang dijamin LPS per nasabah per bank adalah Rp 2 Miliar.</p>
		  <p><a href="https://apps.lps.go.id/BankPesertaLPSRate" https://apps.lps.go.id/BankPesertaLPSRate>Klik untuk informasi lanjut. </a> </p>
        </div>

        <div class="card">
          <h3>✓ Berizin dan diawasi OJK</h3>
        </div>

      </div>
    </section>
	
	<section class="cta">
	  <h2>Hubungi Kami Sekarang juga!</h2>

	  <p>
		Hubungi kami untuk informasi lebih lanjut mengenai
		deposito dan pinjaman.
	  </p>

	  <a href="/contact" class="btn btn-secondary">
		Hubungi Kami
	  </a>
	</section>

    
  </div>
  
</MainLayout>

<style>
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .hero {
    text-align: center;
    margin-bottom: 3rem;
  }

  .hero h1 {
    color: var(--primary);
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 3rem;
  }

  section h2 {
    color: var(--primary);
    margin-bottom: 1rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
	  transition:
		transform 0.25s ease,
		box-shadow 0.25s ease;
  }

	.card:hover {
	  transform: translateY(-8px);

	  box-shadow:
		0 12px 30px rgba(0,0,0,0.12);
	}

  .card h3 {
    margin-bottom: 1rem;
    color: var(--primary);
  }

  .card ul {
    margin-top: 1rem;
    padding-left: 1.25rem;
  }
  
  .cta {
    text-align: center;
    margin-bottom: 3rem;
  }

  .notice {
    background: #f5f7fa;
    padding: 1rem;
    border-radius: 12px;
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  .btn {
	  position: relative;
	  overflow: hidden;
	  display: inline-block;
	  padding: 0.9rem 10.5rem;
	  border-radius: 8px;
	  text-decoration: none;
	  font-weight: bold;
	  transition:
		transform 0.25s ease,
		box-shadow 0.25s ease,
		opacity 0.25s ease;
	}

	.btn::before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: -120%;
	  width: 60%;
	  height: 100%;
	  background: rgba(255, 255, 255, 0.3);
	  filter: blur(10px);
	  transform: rotate(20deg);
	  transform: skewX(-25deg);
	  transition: left 0.6s ease;
	}

	.btn:hover::before {
	  left: 140%;
	}

	.btn-secondary {
	  background:  var(--primary);;
	  color: white;
	}

	.btn:hover {
	  transform: translateY(-4px) scale(1.03);
	  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
	}

	.btn:active {
	  transform: translateY(-1px);
	}
</style>